*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Monocraft;
}

.container {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    align-items: start;
}
.frame {
    height: 100%; /* Can be anything */
    width: auto; /* Can be anything */
    position: relative;
}

.text {
    height: auto;
    width: auto;
    font-size: 1.78vw;
}
.image {
    width: auto;
    height: 100%;
    position: relative;
    vertical-align: top;
    left: auto;
}
.framed_img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: auto;
    right: auto;
    margin: auto;
}
img {
    max-height: 100%;
    max-width: 100%;
}
ul{
    list-style:none;
    background: #000000;
}
ul li{
    display:inline-block;
    position:relative;
}

ul li a{
    display:block;
    padding: 15px 15px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size:15px;
}
@font-face {
    font-family: Monocraft;
    src: url('Monocraft.ttf');
}

ul li ul.dropdown li{
    display:block;
}
ul li ul.dropdown {
    width: 100%;
    background: #22438C;
    position: absolute;
    z-index:999;
    display: none;

}

ul li a:hover{
    background: #112C66;
}
ul li:hover ul.dropdown{
    display: block;
}

body {
    color: #000000;
    background-color: #ff686b;
}
h1 {
    color: #000000;
}

.personalPicture
{
    width: 200px;
    height: 300px;
}

.row::after
{
    content: "";
    display: table;
    clear: both;
}
.column
{

    float: left;
    width: 33.3%;
    padding: 4px;
}
.imageLimiter {
    width: 315px;
    height: 250px;
}
